# Virtual environment
venv/
.venv/

# Django migrations
*/migrations/

# Database
db.sqlite3

# Игнорировать все __pycache__ папки
__pycache__/
**/__pycache__/
*.py[cod]

# Static files
media/
static/


